<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="a8942b6e-daa3-4324-8cd8-e2af5b352d3f"
  data-page-id="{{ page.id }}"
  data-page-url="{{ site.url }}{{ page.url }}"
  data-page-title="{{ page.title }}"
></div>
<script>
const observer = new MutationObserver((mutations) => {
    mutations.forEach((mutation) => {
        if (mutation.addedNodes.length == 0) return;
        const iframe = mutation.addedNodes[0];
        if (iframe.tagName !== 'IFRAME') return;

        const additionalStyles = `
        .auto {
            background: black;
        }
        `;
        
        iframe.srcdoc = iframe.srcdoc.replace('</style>', additionalStyles + '</style>');
    });
});
observer.observe(document.getElementById("cusdis_thread"), { childList: true, subtree: true });
</script>
