---
---

@font-face {
  font-family: "Roboto Slab";
  src:
    local("Roboto Slab"),
    url("https://ruecharli.github.io/dot-blog/assets/fonts/RobotoSlab-Regular.ttf"),
    url("RobotoSlab-Regular.ttf");
}

$base-font-family: "Roboto Slab" !default;
$code-font-family: "Roboto Slab", monospace;

// Width of the content area

$content-width:    1200px !default;

$on-palm:          600px !default;
$on-laptop:        1200px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

$brand-color: pink;

@import "minima";
.site-header {border: none;}

a {
  color: pink;
}

main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
  width:1000px;
  max-width:100%;
  margin:auto
}

.site-title {
  @include relative-font-size(2.625);
  font-weight: $base-font-weight;
  letter-spacing: -1px;
  line-height: 1.15
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $site-title-color;
  }
}

.site-subtitle {
  @include relative-font-size(1.625);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $site-title-color;
  }
}
