---
---

@font-face {
  font-family: "Roboto Slab";
  src:
    local("Roboto Slab"),
    url("https://ruecharli.github.io/dot-blog/assets/fonts/RobotoSlab-Regular.ttf"),
    url("RobotoSlab-Regular.ttf");
}

$base-font-family: "Roboto Slab" !default;
$code-font-family: "Roboto Slab", monospace;

// Width of the content area
/*
$content-width:    1200px !default;

$on-palm:          600px !default;
$on-laptop:        1200px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;
*/

$brand-color: pink;

@import "minima";
.site-header {border: none;}

a {
  color: pink;
}
