---
---

@font-face {
  font-family: "Roboto Slab";
  src:
    local("Roboto Slab"),
    url("https://ruecharli.blog/assets/fonts/RobotoSlab-Regular.ttf"),
    url("{{ site.url }}/assets/fonts/RobotoSlab-Regular.ttf"),
    url("/assets/fonts/RobotoSlab-Regular.ttf"),
    url("RobotoSlab-Regular.ttf"),
    url("https://github.com/ruecharli/dot-blog/main/assets/fonts/RobotoSlab-Regular.ttf"),
    url("ruecharli.github.io/dot-blog/assets/fontsRobotoSlab-Regular.ttf");
}

$base-font-family: "Roboto Slab" !default;
$code-font-family: "Roboto Slab", monospace;

// Width of the content area

$content-width:    1200px !default;

$on-palm:          600px !default;
$on-laptop:        1200px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

$brand-color: pink;

@import "minima";
.site-header {border: none;}

a {
  color: pink;
}

main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
  width:1000px;
  max-width:100%;
  margin:auto
}
