---
sitemap_exclude: y
---

// Fonts

@font-face {
  font-family: "Roboto Slab";
  src:
    local("Roboto Slab"),
    url("https://ruecharli.blog/assets/fonts/RobotoSlab-Regular.ttf"),
    url("{{ site.url }}/assets/fonts/RobotoSlab-Regular.ttf"),
    url("/assets/fonts/RobotoSlab-Regular.ttf"),
    url("RobotoSlab-Regular.ttf"),
    url("https://github.com/ruecharli/dot-blog/blob/main/assets/fonts/RobotoSlab-Regular.ttf"),
    url("ruecharli.github.io/dot-blog/assets/fontsRobotoSlab-Regular.ttf");
}

$base-font-family: "Roboto Slab" !default;
$code-font-family: "Roboto Slab", monospace;

// Width of the content area

$content-width:    1200px !default;

$on-palm:          600px !default;
$on-laptop:        1200px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Link/brand colour (not used due to "a" and "a:visited")

$brand-color: pink;

// Post-import settings (for precedence)

@import "minima";
.site-header {border: none;}

// Text

a {
  color: darken($brand-color, 15%);
}

a:visited {
 color: $brand-color;
}

code {
  border: 1px solid lighten($brand-color, 5%);
  background-color: lighten($brand-color, 5%);
}

scrollpost {
  margin-bottom: 0
}

h3home {
  @include relative-font-size(1.375);

  @media screen and (min-width: $on-large) {
    @include relative-font-size(1.625);
  };
  line-height: 1.1;
  padding-bottom: 0px;
  border-bottom: 0px;
  margin-bottom: 0
}

// Header

.site-header {
  border-bottom: 1px solid $grey-color-dark;
}

.site-title::before {
	content: url("/assets/icon.png");
	display: inline-block;
	position: relative;
	width: 30px;
	top: 5px;
}

// Footer

.site-footer {
  border-top: 1px solid $grey-color-dark;
  padding-top: 15px;
  padding-bottom: 0px;
}

// Footer columns

/*.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color-dimmed;
}*/

.footer-col {
  margin-bottom: 0px;
}

.footer-col-1,
.footer-col-2 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

/*.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}*/

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  /*.footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }*/
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit * .5);

    &:first-child {
      padding-right: $spacing-unit * .5;
      padding-left: min(200px,($spacing-unit * .5));
    }

    &:last-child {
      padding-right: min(200px,($spacing-unit * .5));
      padding-left: $spacing-unit * .5;
    }
  }
}

// Main area (_layout)

main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
  width:1000px;
  max-width:100%;
  margin:auto
}

.page-content {
  padding-bottom:0px
}

html { overflow-y: scroll; }
