---
sitemap_exclude: y
---

// Fonts

@font-face {
  font-family: "Roboto Slab";
  src:
    local("Roboto Slab"),
    url("https://ruecharli.blog/assets/fonts/RobotoSlab-Regular.ttf"),
    url("{{ site.url }}/assets/fonts/RobotoSlab-Regular.ttf"),
    url("/assets/fonts/RobotoSlab-Regular.ttf"),
    url("RobotoSlab-Regular.ttf"),
    url("https://github.com/ruecharli/dot-blog/blob/main/assets/fonts/RobotoSlab-Regular.ttf"),
    url("ruecharli.github.io/dot-blog/assets/fontsRobotoSlab-Regular.ttf");
}

$base-font-family: "Roboto Slab" !default;
$code-font-family: "Roboto Slab", monospace;

// Width of the content area

$content-width:    1200px !default;

$on-palm:          600px !default;
$on-laptop:        1200px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Link/brand colour (not used due to "a" and "a:visited")

$brand-color: pink;

// Post-import settings (for precedence)

@import "minima";
.site-header {border: none;}

// Text

a {
  color: pink;
}

a:visited {
 color: pink;
}

h3home {
  @include relative-font-size(1.375);

  @media screen and (min-width: $on-large) {
    @include relative-font-size(1.625);
  };
  line-height: 1.1;
  padding-bottom: 0px;
  border-bottom: 0px;
  margin-bottom: 0
}

// Header and footer

.site-header {
  border-bottom: 1px solid $grey-color-dark;
}

.site-title::before {
	content: url("/assets/icon.png");
	display: inline-block;
	position: relative;
	width: 30px;
	top: 12px;
}

.site-footer {
  border-top: 1px solid $grey-color-dark;
  padding-top: 15px;
  padding-bottom: 0px;
}

.footer-col {
  margin-bottom: 0px;
}

// Display

main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
  width:1000px;
  max-width:100%;
  margin:auto
}

html { overflow-y: scroll; }
