/**
 * Site header
 */
.site-header {
  position: relative;
  width: 200%;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;
  background-color: $background-color;
  border-top: 5px solid $border-color-03;
  border-bottom: 1px solid $border-color-01;
}
